<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-title>Employees</ion-title>

    <ion-button size="large" id="open-modal" expand="block" [disabled]="!showSegment">
      Favorites modal
      <ion-icon slot="end" name="heart"></ion-icon>
    </ion-button>

    <ion-segment [(ngModel)]="order" (ionChange)="sortEmployees()" *ngIf="showSegment">
      <ion-segment-button value="desc" checked>Satisfacción Descendente</ion-segment-button>
      <ion-segment-button value="asc">Satisfacción Ascendente</ion-segment-button>
    </ion-segment>

    <ion-progress-bar type="indeterminate" *ngIf="showLoading"></ion-progress-bar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <div class="box">
      <ion-card *ngFor="let employee of sortedEmployees" class="card-mini">
        <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
        <ion-card-header>
          <ion-card-title>{{ employee.name }} {{ employee.lastname }}</ion-card-title>
          <ion-card-subtitle>{{ employee.position }}</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          <p><strong>Email:</strong> {{ employee.mail }}</p>
          <p><strong>Area:</strong> {{ employee.area.name }}</p>
          <p><strong>Category:</strong> {{ employee.category.name }}</p>
          <p><strong>Company:</strong> {{ employee.company.name }}</p>
          <p><strong>City:</strong> {{ employee.city.name }}</p>
          <p><strong>Satisfaction:</strong> {{ employee.satisfaction }}</p>
        </ion-card-content>
        <ion-toggle [checked]="employee.favorites !== null"
          (ionChange)="updateFavorite(employee, $event.detail.checked)">Favorite</ion-toggle><br /><br />
      </ion-card>
    </div>
    <div class="modal">
      <app-modal></app-modal>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>Page: {{ currentPage }} / {{ lastPage }}</ion-title>
    <div *ngIf="showButton">
      <ion-button (click)="nextPage()" [disabled]="currentPage >= lastPage" expand="full">Load More</ion-button>
    </div>
  </ion-toolbar>
</ion-footer>